- hosts: comainu
  become: yes
  roles:
    - role: common
    - role: nbz4live.php-fpm # have to be install first
      php_fpm_version: 5.6
      php_fpm_pools: # dummy
        - name: comainu
          user: www-data
          group: www-data
          listen: 127.0.0.1:9000
          chdir: /
    - role: geerlingguy.mysql
    - role: darthwade.wordpress
    - role: nbz4live.php-fpm
      php_fpm_version: 5.6
      php_fpm_pools:
        - name: comainu
          user: www-data
          group: www-data
          listen: 127.0.0.1:9000
          chdir: "{{install_dir}}"
    - role: geerlingguy.php-mysql
    - role: jdauphant.nginx
    - role: comainu
    - role: wordpress-comainu
    - role: whiskerlabs.python
